.barbarian {
    background-image: url(barbarian.png);
    background-size: 200px 230px;
    height: 200px;
    width: 200px;
}

.bard {
    background-image: url(bard.jpg);
    background-size: 200px 230px;
    height:200px;
    width: 200px;
}